.LandingPage {
  background: white;
  background-position: 50%;
  background-size: cover;
  background-color: #333;
  height: 550px;
  padding-top: 60px;
}

.LandingPage__content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.LandingPage__logo-container {
  text-align: center;
}

.LandingPage__logo {
  width: 200px;
  height: 100px;
  background-size: 200px 100px;
  padding: 0;
  margin: 60px auto 60px;
  background-repeat: no-repeat;
}

.LandingPage__logo a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em;
}

.LandingPage__search {
  padding-bottom: 200px;
}

.LandingPage__banner-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.LandingPage__banner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

