.Result {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #eee;
  transition: box-shadow .3s;
  padding: 24px;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.Result:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.Result__image {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.Result__right {
  width: 100%;
}

.Result__info {
  display: flex;
  flex-direction: column;
}

.Result__info-left {
  width: 100%;
}

.Result__title {
  font-size:xx-large;
  color: rgb(28, 28, 28);
}

.Result__rating {
  color: rgb(28, 28, 28);
}

.Result__info-subline {
  display: flex;
  flex-direction: row;
  color: gray;
}

.Result__right-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: gray;
  font-size: large;
}

.Result__info-right {
  font-size: large;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}