.Result {
  border-radius: 4px;
  border: 1px solid #eee;
  transition: box-shadow .3s;
  padding: 24px;
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
}

.Result:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
}

.Result__image {
  width: 200px;
  height: 200px;
  background-size: 200px 200px;
  margin-right: 24px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.Result__right {
  width: 100%;
}

.Result__info {

}

.Result__review {
  
}